<!DOCTYPE html>

<html>
<head>
	<meta charset="UTF-8" />
	
	<title>Spwords, by agj</title>

	<link rel="icon" type="image/gif" href="/icon.gif" />
	
	<link href="css/style.css" rel="stylesheet">

	<script src="js/libs/signals.js"></script>
	<!-- <script src="http://lmn2.us.to:3742/socket.io/socket.io.js"></script> -->
	<script data-main="js/main.js" src="js/lib/require.js"></script>
</head>

<body ng-controller="AppCtrl" ng-class="[game.mode + '-mode', 'language-' + game.language]">
	
	<header id="title" ng-controller="TitleCtrl" ng-class="{ active: !game.isPlaying }">
		<div class="languages">
			<div class="language language-en">
				<h1>spwords, by <a href="http://www.agj.cl/">agj.</a></h1>
				<p class="options active">
					<span class="mode single-mode">single</span><span class="mode double-mode">hotseat</span>
						mode.
					(play
						<span class="option single-mode-option" ng-click="game.mode = 'single'">single</span><span class="option double-mode-option" ng-click="game.mode = 'double'">hotseat</span>)
				</p>
			</div>
			<div class="language language-es">
				<h1>spwords, por <a href="http://www.agj.cl/">agj.</a></h1>
				<p class="options active">
					modo
						<span class="mode single-mode">individual</span><span class="mode double-mode">doble</span>.
					(juega
						<span class="option single-mode-option">individual</span><span class="option double-mode-option">doble</span>)
				</p>
			</div>
		</div>
		
		<div id="online">
			(play online, share: <span class="url">http://agj.cl/ip/spwords#{{ game.onlineID }}</span> )
		</div>
		
		<div id="language-select" ng-class="{ active: !game.isPlaying }">
			<span class="option en-language-option" ng-click="game.language = 'en'">english</span> <span class="option es-language-option" ng-click="game.language = 'es'">español</span>
		</div>
	</header>


	<div class="one time-bar">
		<div class="bar remaining" ng-style="{ width: game.contestant.one.time * 100 + '%' }"></div>
	</div>
	
	<div spw-display id="game" ng-controller="DisplayCtrl">
	</div>
	
	<div class="two time-bar">
		<div class="bar remaining" ng-style="{ width: game.contestant.two.time * 100 + '%' }"></div>
	</div>

</body>
</html>